.Container {
  border: 1px solid black;
  width: 1920px;
  height: 1080px;
  position: relative;
  display: flex;
}
.Container-Left {
  border: 1px solid black;
  margin: 10px;
  flex: 3;
}

.Container-Right {
  border: 1px solid black;
  margin: 10px;
  flex: 7;
}
